/*master*/
.featured{
  height: 100vh;

}

.featured--vertical{
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal{
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70% );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  padding-bottom: 10rem;
  padding-top: 4.375rem;
}

/*infos*/

.featured--name{
  font-size: 3.75rem;
  font-weight: bold;
  max-width: 40%;
  
}

.featured--info{
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  max-width: 40%;
}

.featured--info .featured--points,
.featured--info .featured-year,
.featured--info .featured--seasons{
  margin-right: 1rem;
  display: inline-block;
}
.featured--info .featured--points{
  color:#46d369;
}
.featured--info .featured--description{
  margin-top: 1rem;
  font-size: 1.25rem;
  color:#999;
  
  
}

/*botoes-buttons*/
.featured--info .featured--buttons{
  margin-top: 1rem;
}
.featured--info .featured--watchButton,
.featured--info .featured--myListButton{
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: .75rem 1.75rem;
  border-radius: .5rem;
  text-decoration: none;
  margin-right: 1rem;
  opacity: 1;
  transition: all ease 0.2s;
}

.featured--info .featured--watchButton{
  background: #f2f2f2;
  color: #111;
}
.featured--info .featured--myListButton{
  background: #333;
  color: #f2f2f2;
}

 .featured--info .featured--watchButton:hover,
.featured--info .featured--myListButton:hover{
  opacity: 0.8;
}

/*generos-genres*/
.featured--info .featured--genres{
  margin-top: 1rem;
  font-size: 1.25rem;
  color:#999
}



@media only screen and (max-width: 760px){
  .featured{
    height: 70vh;
    width: 100vw;

  }

  .featured--name{
    font-size: 2.5rem;
    max-width: 100%;
    margin-top: 3rem;
  }
  .featured--info{

    max-width: 100vw;
    font-size: 1rem;
    height: 90vh;
    width: 100%;
  }

  .featured--info .featured--description{
    font-size: 1rem;
    max-width: 100vw;
    margin-right: 2rem;
 
  }

  .featured--info .featured--watchButton,
  .featured--info .featured--myListButton{ 
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .featured--info .featured--genres{
    font-size: 1rem;
  }


}